{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 200,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
