@import "tailwindcss";
/* app/globals.css */
@view-transition {
  navigation: auto;
}
/* From Right (New Page Enters from Right) */
@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* To Left (Old Page Exits to Left) */
@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.8;
  }
}

/* 绑定动画 */
/* 页面进入 */
::view-transition-new(.page-enter) {
  animation: slide-in-from-right 0.3s ease-in-out forwards;
}

/* 页面退出 */
::view-transition-old(.page-exit) {
  animation: slide-out-to-left 0.3s ease-in-out forwards;
}

/* 禁用动画 */
@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    /* alternatively, you could design more subtle variants */
    animation: none !important;
  }
}
