@import "tailwindcss";
/* app/globals.css */
@view-transition {
  navigation: auto;
}
/* From Right (New Page Enters from Right) */
@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* To Left (Old Page Exits to Left) */
@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.8;
  }
}

/* From Left (New Page Enters from Left) */
@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* To Right (Old Page Exits to Right) */
@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0.8;
  }
}

/* 绑定动画 */
/* (新页面从右滑入) */
::view-transition-old(root) {
  animation: slide-out-to-left 0.3s ease-in-out forwards;
}

::view-transition-new(root) {
  animation: slide-in-from-right 0.3s ease-in-out forwards;
}

/* (新页面从左滑入) */

/* ::view-transition-old(root) {
  animation: slide-out-to-right 0.3s ease-in-out forwards;
}
::view-transition-new(root) {
  animation: slide-in-from-left 0.3s ease-in-out forwards;
} */

/* 前进：motion -> details */
/* .forward-transition ::view-transition-old(*) {
  animation: slide-out-to-left 0.3s ease-in-out forwards;
}
.forward-transition ::view-transition-new(*) {
  animation: slide-in-from-right 0.3s ease-in-out forwards;
} */

/* 返回：details -> motion */
/* .back-transition ::view-transition-old(*) {
  animation: slide-out-to-right 0.3s ease-in-out forwards;
}
.back-transition ::view-transition-new(*) {
  animation: slide-in-from-left 0.3s ease-in-out forwards;
} */
